@import "./variables";
@import "./module";

.footer-area{
    background-color: #364a5e;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &-contact{
        @include flex;
        width: 80%;
        height: 200px;
        border-bottom: 1px solid;
        & span{
            color: wheat;
        }
        @include mobile {
            flex-direction: column;
          }

       
    }
    &-info{
        width: 90%;
        display: flex;
        justify-content: space-between;

        &-socialmedia{
            line-height: 25px;
            & p{
                white-space: nowrap;
            }
            & span{
                color: wheat;
            }
        }
    
        &-logo{
            gap: 20px;
            display: flex;
            flex-direction: column;
            & a{
                color: $text-color;
                font-size: 20px;

            }


        }
      
    }
}