@import "./variables";
@import "./module";

.container {
  &-info {
    height: 500px;
    width: 100%;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    border-radius: 10px;
    @include flex;
    @include mobile {
      flex-direction: column;
    }

    &-sec {
      text-align: center;
      & h3 {
        color: #364a5e;
      }
      & p {
        color: wheat;
        margin: 20px 0;
      }
      &-btn {
        border-radius: 20%;
        @include button;
      }
    }
  }
}
